h1 {
	center:align;
	font-family:monaco;
	text-align:center;
	color:black;
	font-size: 75px;
	display: inline-block;
}

h3{
	font-family:monaco;	
	font-size:70;
}

html,body{
	background-color:white;
}

div{
	background-color:black;
	color:white;
	text-align:center;
	margin: 0px 75px 0px 75px;
	height:100vh;
	padding: 20px;
}

h2{
	font-size:70;
	font-family:monaco;
}

p2{
font-size:65:
font-family:montserrat;
}

p{
	font-size:60:
	font-family:montserrat;
}

.myButton {
	background-color:#254160;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Georgia;
	font-size:28px;
	padding:15px 11px;
	text-decoration:none;
	margin: 24px 0px 0px 40px;
	
}
.myButton:hover {
	background-color:Black;
	color:white;
}
.myButton:active {
	position:relative;
	top:1px;
}
